/*
################################################################################################################
               TABLE OF CONTENT
                1. Font-face elements (afkomstig van Transavia)
                2. Default elements
                3. Form elements
                4. Main/section elements
                5. Header elements
                6. Navigation elements
                7. Search elements
                8. Article elements
                9. Footer elements
################################################################################################################
*/

/*
################################################################################################################
                1. FONT-FACE ELEMENTS (afkomstig van Transavia)
################################################################################################################
*/

@font-face {
    font-family: "Nexa Bold";
    src: url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.woff2") format("woff2"), url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.woff") format("woff"), url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.ttf") format("truetype"), url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.svg#nexa_xboldregular") format("svg");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Nexa";
    src: url("https://www.transavia.com/static/fonts/Nexa_Regular-webfont.woff2") format("woff2"), url("https://www.transavia.com/static/fonts/Nexa_Regular-webfont.woff") format("woff"), url("https://www.transavia.com/static/fonts/fonts/Nexa_Regular-webfont.ttf") format("truetype"), url("https://www.transavia.com/static/fonts/fonts/Nexa_Regular-webfont.svg#nexa_regularregular") format("svg");
    font-style: normal;
    font-weight: normal;
}

/*
################################################################################################################
                2. DEFAULT ELEMENTS
################################################################################################################
*/

body {
    font-family: "Nexa";
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    color: #606060;
    margin: 0;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
nav,
label {
    font-family: "Nexa Bold";
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding-bottom: 1.25rem;
}

h1 {
    color: #00D66C;
}

h2 {
    color: #2800a0;
}

p {
    margin: 1.25em 0;
}

a:hover {
    color: #FF3268;
}

a {
    text-decoration: none;
}

/*
################################################################################################################
                3. FORM ELEMENTS
################################################################################################################
*/

input[type=search],
input[type=text],
input[type=email],
input[type=password] {
    border: 0.0625em solid #91a3b7;
    border-radius: 0.5em;
    padding: 0.75em;
    font-size: 1em;
    box-sizing: border-box;
    width: 100%;
    height: 2.6875em;
    margin-bottom: 1.25em;
}

legend {
    display: none;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label {
    display: block;
    padding-bottom: 0.625em;
}

button {
    font-size: 1em;
    font-family: "Nexa Bold";
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    width: 100%;
    height: 2.6875em;
    background-color: #00D66C;
    border-radius: 1.25em;
    /*Box-shadow afkomstig van Transavia*/
    box-shadow: inset 0 -.1875rem .0625rem #1e9162;
    border: none;
}

.inloggen-button {
    background-color: #FF3268;
    /*Box-shadow afkomstig van Transavia*/
    box-shadow: inset 0 -.1875rem .0625rem #CA2B55;
}

.inloggen-button:hover {
    background-color: #FF658E;
}

/*
################################################################################################################
                4. MAIN/SECTION ELEMENTS
################################################################################################################
*/

#main-login-register {
    background-color: #00d66c;
    padding: 1.25em;
}

#section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25em;
}

#section-populair-article {
    background-color: #F3E5D8;
    padding: 1.25em;
}

#section-user-article {
    padding: 1.25em;
}

#section-login,
#section-register {
    background-color: #FFFFFF;
    border-radius: 0.5em;
    padding: 1.25em;
}

#section-register {
    margin-top: 1.25em;
}

#section-login h2,
#section-register h2 {
    border-bottom: 0.0625em solid #CCCCCC;
}

#section-header h1 {
    font-size: 1.75em;
    padding: 0;
}

/*
################################################################################################################
                5. HEADER ELEMENTS
################################################################################################################
*/

header {
    padding: 1.25em;
}

#logo {
    background: url('../img/transavia-icon.svg');
    background-size: 2.25em;
    width: 2.25em;
    height: 2.25em;
    background-repeat: no-repeat;
}

#account {
    background: url('../img/user-icon.svg');
    background-size: cover;
    width: 2.25em;
    height: 2.25em;
    background-repeat: no-repeat;
}

#account:hover {
    background: url('../img/user-icon-purple.svg');
    background-size: cover;
    width: 2.25em;
    height: 2.25em;
    background-repeat: no-repeat;
}

#account-active {
    background: url('../img/user-icon-purple.svg');
    background-size: cover;
    width: 2.25em;
    height: 2.25em;
    background-repeat: no-repeat;
}

/*
################################################################################################################
                6. NAVIGATION ELEMENTS
################################################################################################################
*/

nav {
    padding-bottom: 0;
}

nav a {
    display: block;
    color: #00d66c;
    text-decoration: none;
    font-size: 1.25em;
    padding: 0.3em 0;
}

nav a:hover {
    color: #2800a0;
}

#nav-a-active {
    color: #2800a0;
}

/*
################################################################################################################
                7. SEARCH ELEMENTS
################################################################################################################
*/

#section-search {
    border-top: 0.0625em solid #CCCCCC;
    padding: 1.25em;
}

#search-button:hover {
    background-color: #4DE298;
}

/*
################################################################################################################
                8. ARTICLE ELEMENTS
################################################################################################################
*/

.user-article {
    border: 0.0625em solid #CCCCCC;
    border-radius: 0.5em;
    padding: 1.25em;
    margin-bottom: 1.25em;
}

.user-article:last-child,
.populair-article:last-child {
    margin-bottom: 0;
}

.populair-article {
    background-color: #FBF7F3;
    border-radius: 0.5em;
    padding: 1.25em;
    margin-bottom: 1.25em;
}

.populair-article-img {
    border: 0.0625em solid #CCCCCC;
    border-radius: 0.5em;
    padding: 1.25em;
    height: 12.5em;
    margin-bottom: 1.25em;
    display: flex;
    justify-content: flex-end;
}

.title {
    color: #FF3268;
    margin: 0;
    padding: 0;
}

.summary {
    color: #000000;
}

.date {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.metadata {
    padding: 0;
    margin: 0;
}

.metadata li {
    list-style-type: none;
    font-size: 0.75em;
}

.favorite-story {
    background: url('../img/favorite-icon-gray.svg');
    background-size: 1.5625em;
    width: 1.5625em;
    background-repeat: no-repeat;
}

.favorite-story:hover {
    background: url('../img/favorite-icon.svg');
    background-size: 1.5625em;
    width: 1.5625em;
    background-repeat: no-repeat;
}

.favorite-story-active {
    background: url('../img/favorite-icon.svg');
    background-size: 1.5625em;
    width: 1.5625em;
    background-repeat: no-repeat;
}


/*
################################################################################################################
                8. FOOTER ELEMENTS
################################################################################################################
*/

footer {
    padding: 1.25em;
    background-color: #f7f7f7;
}
