/*
################################################################################################################
               TABLE OF CONTENT
                1. Font-face elements (afkomstig van Transavia)
                2. Default elements
                3. Form elements
                4. Body > main elements
                5. Body > header elements
                6. Body > footer elements
################################################################################################################
*/

/*
################################################################################################################
                1. FONT-FACE ELEMENTS (afkomstig van Transavia)
################################################################################################################
*/

@font-face {
    font-family: "Nexa";
    src: url("https://www.transavia.com/static/fonts/Nexa_Regular-webfont.woff2") format("woff2"), url("https://www.transavia.com/static/fonts/Nexa_Regular-webfont.woff") format("woff"), url("https://www.transavia.com/static/fonts/fonts/Nexa_Regular-webfont.ttf") format("truetype"), url("https://www.transavia.com/static/fonts/fonts/Nexa_Regular-webfont.svg#nexa_regularregular") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Nexa Bold";
    src: url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.woff2") format("woff2"), url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.woff") format("woff"), url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.ttf") format("truetype"), url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.svg#nexa_xboldregular") format("svg");
    font-style: bold;
    font-weight: bold;
}

/*
################################################################################################################
                2. DEFAULT ELEMENTS
################################################################################################################
*/

p {
    margin: 1.25em 0;
    color: #000000;
}

h1,
h2,
h3,
nav,
label {
    font-family: "Nexa Bold";
    font-style: bold;
    font-weight: bold;
    margin: 0;
    padding-bottom: 1.25rem;
}

h1 {
    color: #00D66C;
}

h2 {
    color: #2800a0;
}

a {
    text-decoration: none;
}

/*
################################################################################################################
                3. FORM ELEMENTS
################################################################################################################
*/

input[type=search],
input[type=text],
input[type=email],
input[type=password] {
    border: 0.0625em solid #91a3b7;
    border-radius: 0.5em;
    padding: 0.75em;
    font-size: 1em;
    box-sizing: border-box;
    width: 100%;
    height: 2.6875em;
    margin-bottom: 1.25em;
}

input[type="search"] + button {
    font-size: 1em;
    font-family: "Nexa Bold";
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    width: 100%;
    height: 2.6875em;
    background-color: #00D66C;
    border-radius: 1.25em;
    box-shadow: inset 0 -.1875rem .0625rem #1e9162;
    border: none;
}

input[type="search"] + button:hover {
    background-color: #4DE298;
}

button {
    font-size: 1em;
    font-family: "Nexa Bold";
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    width: 100%;
    height: 2.6875em;
    background-color: #FF3268;
    border-radius: 1.25em;
    /*Box-shadow afkomstig van Transavia*/
    box-shadow: inset 0 -.1875rem .0625rem #CA2B55;
    border: none;
}

button:hover {
    background-color: #FF658E;
}

legend {
    display: none;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label {
    display: block;
    padding-bottom: 0.625em;
}

/*
################################################################################################################
                4. BODY > MAIN ELEMENTS
################################################################################################################
*/

body {
    font-family: "Nexa";
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    color: #606060;
    margin: 0;
    background-color: #FFFFFF;
}

body > #main-login-register {
    background-color: #00d66c;
    padding: 0.625em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}

body > #main-login-register > section > h2 {
    margin: 0;
    border-bottom: 0.0625em solid #CCCCCC;
}

body > #main-login-register > section {
    background: #FFFFFF;
    display: block;
    width: 20.9375em;
    box-sizing: border-box;
    margin: 0.625em;
    padding: 1.25em;
    border-radius: 0.5em;
}

body > section:first-of-type {
    border: 0.0625em solid #CCCCCC;
    padding: 1.25em;
}

body > main > section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    padding: 0.625em;
}

body > main > section:first-of-type {
    background-color: #F3E5D8;
}

body > main > section:first-of-type > article {
    border: none;
}

body > main > section > h2 {
    width: 100%;
    margin: 0 0.625rem 0 0.625rem;
    padding: 0.625rem 0;
}

body > main > section > article {
    border: 0.0625em solid #CCCCCC;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    padding: 1.25em;

    max-width: 335px;
    box-sizing: border-box;
    margin: 0.625em;
}

body > main > section > article > h3 {
    color: #FF3268;
    margin: 0;
    padding: 0;
}

body > main > section > article > header {
    border: 0.0625em solid #CCCCCC;
    border-radius: 0.5em;
    padding: 1.25em;
    height: 12.5em;
    margin-bottom: 1.25em;
    display: flex;
    justify-content: flex-end;
}

body > main > section > article > header > a {
    background: url('../img/favorite-icon-gray.svg');
    background-size: 1.5625em;
    width: 1.5625em;
    background-repeat: no-repeat;
}

body > main > section > article > header > a:hover {
    background: url('../img/favorite-icon.svg');
    background-size: 1.5625em;
    width: 1.5625em;
    background-repeat: no-repeat;
}

body > main > section:nth-of-type(2) > article > header > a {
    background: url('../img/favorite-icon.svg');
    background-size: 1.5625em;
    width: 1.5625em;
    background-repeat: no-repeat;
}

/*
################################################################################################################
                5. BODY > HEADER ELEMENTS
################################################################################################################
*/

body > header {
    padding: 20px;
}

body > header > nav > a,
body > footer > nav > a {
    color: #00d66c;
    text-decoration: none;
    font-size: 1.25em;
    padding: 0 0.5em 0 0.5em;
}

body > header > nav > a:first-child,
body > footer > nav > a:first-child {
    padding-left: 0;
}

body > header > nav > a:hover,
body > footer > nav > a:hover {
    color: #2800a0;
}

body > header > nav > #nav-a-active {
    color: #2800a0;
}

body > header > nav {
    padding-bottom: 0;
}

body > header > section {
    display: flex;
    justify-content: space-between;
}

body > header > section > a:first-of-type {
    background: url('../img/transavia-icon.svg');
    background-size: 2.25em;
    width: 2.25em;
    height: 2.25em;
    background-repeat: no-repeat;
}

body > header > section > a:last-of-type {
    background: url('../img/user-icon.svg');
    background-size: cover;
    width: 2.25em;
    height: 2.25em;
    background-repeat: no-repeat;
}

body > header > section > a:last-of-type:hover {
    background: url('../img/user-icon-purple.svg');
    background-size: cover;
    width: 2.25em;
    height: 2.25em;
    background-repeat: no-repeat;
}

body > header > section > #account-active {
    background: url('../img/user-icon-purple.svg');
    background-size: cover;
    width: 2.25em;
    height: 2.25em;
    background-repeat: no-repeat;
}

/*

/*
################################################################################################################
                6. BODY > FOOTER ELEMENTS
################################################################################################################
*/

body > main > section > article > footer {
    padding: 0;
    background-color: #FFFFFF;
}

body > main > section > article > footer > ul {
    margin: 0;
    padding: 0;
}

body > main > section > article > footer > ul li {
    list-style-type: none;
    font-size: 0.75em;
}

body > main > section > article > footer > ul > li:nth-last-of-type(2) {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

body > footer {
    padding: 1.25em 1.25em 0 1.25em;
    margin: 0;
    background-color: #f7f7f7;
}
