/*
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://codepen.io/colinlord/post/horizontal-scrolling-containers
https://zellwk.com/blog/rem-vs-em/
*/

#section-user-article-title,
#section-populair-article-title {
    width: 100%;
    margin-left: 0.625rem;
    padding: 0.625rem 0;
}

.populair-article,
.user-article,
#section-login,
#section-register {
    max-width: 335px;
    box-sizing: border-box;
    margin: 0.625em;
}

#section-user-article,
#section-populair-article,
#main-login-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}

@media only screen and (max-width: 729px) {
    nav a {
        display: block;
    }
}

@media only screen and (min-width: 730px) {
    nav a {
        padding: 0.625em;
    }

    nav a:first-child {
        padding-left: 0;
    }
}
